.App {
  text-align: center;
  background-color: #4c6378;
  min-height: 120vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  padding-top: 30vh;
  padding-left: 45vh;
  padding-right: 45vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-nav {
  background-color: #496075;
  padding-left: 40px;
  font-size: calc(5px + 1vmin);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Nav-header {
  background-color: #496075;
  padding: 10px;
}

.list-center {
  margin: 0;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.a {
  color: white;
}

a:link {
  text-decoration: none;
  display: block;
  margin: 0px 10px;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p {
  text-align: left;
  color: white;
  margin: 0px;
}

.section-title {
  font-size: 2vh;
}

.name {
  font-size: 10vh;
  font-weight: 600;
  font-family: "aktiv-grotesk-std", sans-serif;
}

.section-body {
  font-size: 2vh;
  width: 50vh;
  margin-top: 1vh;
}
