.App {
  background-color: #4c6378;
  min-height: 100vh;
}

.App-header {
  padding-top: 25vh;
  padding-left: 25vh;
  padding-right: 30vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.color-nav {
  background-color: #496075;
  padding-left: 40px;
  font-size: calc(5px + 1vmin);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Nav-header {
  background-color: #496075;
  padding: 10px;
}

.list-center {
  margin: 0;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.a {
  color: white;
}

a:link {
  text-decoration: none;
  display: block;
  margin: 0px 10px;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p {
  text-align: left;
  color: white;
  margin: 0px;
}

.section-title {
  margin-top: 2vh;
  font-size: 25px;
}

.name {
  font-size: 125px;
  font-weight: 600;
  font-family: "aktiv-grotesk-std", sans-serif;
}

.section-body {
  font-size: 20px;
  width: 100%;
  margin-top: 3vh;
}

.rectangle {
  height: 20px;
  width: 100%;
  background-color: white;
}
